.cart-items {
  margin: 100px 0px 100px 0px;
}

.carrinho-titulo {
  margin: 20px;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.hr-no-style {
  margin: 30px 0px;
  height: 3px;
  background-color: rgb(110, 104, 104);
  border: 0;
}

.cart-format-main {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
  gap: 10px;
  padding: 2px;
  font-weight: 500;
}

.cartitems-format {
  display: grid;
  font-size: 16px;
  font-weight: 500;
}

.carticon-product-icone {
  border-radius: 10px;
  width: 15vw;
}

.cart-item-excluir-icon {
  width: 25px;
}

.btn-cartitems-qnt {
  width: 34px;
  height: 50px;
  background-color: rgba(128, 128, 128, 0.272);
  border: 0;
}
