.conteudo {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.conteudo-titulo {
  margin: 50px 0px 0px 0px;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

.conteudo-titulo {
  margin: 50px 0px 0px 0px;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

.texto-sobre {
  margin: 10px 5px;
  width: 60vw;
  text-align: start;
}

.titulo {
  width: 80vw;
}

.titulo > p {
  font-size: 1.4rem;
  font-weight: 600;
}

hr {
  width: 80vw;
  height: 3px;
  background-color: rgb(255, 0, 132);
}

.paragrafo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 20px;
  font-size: 1.1rem;
  letter-spacing: 1.1px;
  word-spacing: 2px;
}

.topico {
  font-weight: 600;
  font-size: 1.5rem;
}

.whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
  background-color: rgb(50, 167, 50);
  cursor: pointer;
}

a {
  font-size: 2rem;
  text-decoration: none;
  color: aliceblue;
}
