.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  height: 100%;
  background-color: #ffffff;
  overflow: scroll;
}

.landing-page h1 {
  margin-top: 10px;
  text-align: center;
  color: rgba(2, 2, 2, 0.868);
}

.landing-page hr {
  margin: auto;
  width: 170px;
}

.img-logo {
  width: 100vw;
  text-align: center;
}

.landing-page img {
  text-align: center;
  height: 170px;
  width: 170px;
  border-radius: 50%;
}

.bottons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  list-style: none;
}

.bottons li {
  background-color: rgba(255, 255, 255, 0.753);
  padding: 25px;
  width: 90vw;
  text-align: center;
  font-size: 24px;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  box-shadow: 0px 3px 1px 2px rgba(113, 92, 64, 0.382);
  border: 3px solid rgba(235, 178, 98, 0.58);
}

.bottons li:hover {
  background-color: bisque;
  transition: 0.15s;
}

.landing-page a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

@media (max-height: 750px) {
  .bottons li {
    padding: 15px;
  }
}
