/* Navbar.css */

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

/* Config. do Nav Bar */
.navbar {
  position: fixed;
  z-index: 5;
  left: 0px;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 1px rgba(146, 139, 139, 0.63);
  transition: top 0.3s;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Config. da Logo */
.logo {
  display: flex;
  justify-content: center;
  height: 100%;
}

.logo > img {
  width: 80px;
  height: 80px;
}

/* Config. de menu Bar */
.menu-bar {
  font-size: 30px;
  cursor: pointer;
  margin-left: 10px;
}

/* Carrinho de Compras */
.carrinho-compras {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px 0px 0px;
  cursor: pointer;
}

.carrinho-compras-img {
  height: 30px;
  width: 30px;
}

.qnt-itens-carrinho {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #e0104f;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 12px;
  font-weight: bold;
  line-height: 100%;
  color: #fff;
}

/* Barra lateral */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 15px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  background: none;
  border: none;
  color: #818181;
  cursor: pointer;
}

.sidebar .close-btn:hover {
  color: #f1f1f1;
}

.sidebar.open {
  width: 250px; /* Largura do menu quando aberto */
}

@media (min-width: 370px) and (max-width: 380px) {
  .logo > img {
    width: 85px;
    height: 85px;
  }
}

@media (min-width: 381px) {
  .logo > img {
    width: 90px;
    height: 90px;
  }
}
