.lista-produtos-main > h1 {
  margin: 40px;
  text-align: center;
}

.lista-produtos-main > .conteudo {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.lista-produtos-main > .conteudo > .conteudo-titulo {
  margin: 100px 0px 100px 0px;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

.lista-de-produtos {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 55px 25px;
  width: 100vw;
}

/* Botão de Carregar  */
.btn-carregar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.btn-carregar-item > button {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 0px none;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: rgba(237, 14, 14, 0.805);
}

.btn-carregar-item > button:hover {
  background-color: rgba(237, 81, 14, 0.805);
  transition: 0.2s;
}
