.lista-produtos-main > h1 {
  margin: 40px;
  text-align: center;
}

.lista-produtos-main > .conteudo {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.lista-produtos-main > .conteudo > .conteudo-titulo {
  margin: 100px 0px 100px 0px;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

.lista-de-produtos {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 50px 15px;
  width: 100vw;
}

/* Botão de Carregar  */
.btn-carregar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.btn-carregar-item > button {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 0px none;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: rgba(4, 4, 4, 0.916);
  box-shadow: 1px 1px 1px 5px rgba(0, 0, 0, 0.524);
}

.btn-carregar-item > button:hover {
  background-color: rgb(2, 2, 2);
  transition: 0.2s;
}
