.product-display {
  gap: 55px;
  margin: 70px 0px 0px 0px;
}

/* Geral */
.product-display-info {
  width: 100%;
}

/* Cima */
.item-cima {
  width: 100%;
}

.product-img-display {
  width: 100%;
}

/* Baixo */

/* nome do produto */

.nome-produto-carrinho {
  margin: 120px 0px 0px 10px;
  text-align: left;
  font-weight: 500;
  font-size: 1.6rem;
}

/* Descrição */
.descricao-produto-carrinho {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
}

/* Preços */

.precos {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.preco-produto-descricao {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.preco-velho-descricao {
  margin: -10px 0px 0px -5px;
  font-size: 1.1rem;
  text-decoration: line-through;
}

/* Info produto */
#info-product-display {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #eee;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.qnt-livre {
  font-size: 1.1rem;
  width: 80vw;
}

.num-qnt-livre {
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

/* Botão */
.btn-baixo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.btn-baixo.out-of-stock > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  width: 100%;
  color: white;
  background-color: #5f5f5fd4;
  font-size: 1.1rem;
  border: 0px none;
  border-radius: 5px;
}

.btn-baixo.in-stock > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  width: 100%;
  color: white;
  background-color: #007bff;
  font-size: 1.1rem;
  border: 0px none;
  border-radius: 5px;
}

.btn-baixo.in-stock > button:hover {
  background-color: #046fe2;
  transition: 0.2s;
}

.img-carrinho-btn {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1000%)
    contrast(1000%);
  width: 35px;
}

/* hr produto */
.hr-produto {
  margin: 30px auto;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.701);
  width: 90%;
}

/* pop-up compra */

.popup {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(9, 152, 31);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 0;
  font-weight: 500;
}

.popup > p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: rgb(255, 255, 255);
}

/* description */

#description {
  margin: 10px;
}
